* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none; /* tira configuração do sublinhado */
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display:flex;
    justify-content: space-around; /* leva os itens para o final */
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 8vh;
}

main {
    background-image: url(../imagem/bg.jpg); /* salvo pelo site https://unsplash.com/ */
    background-size: cover;
    height: 92vh;
}

/* lista de itens do menu */

.nav-list {
    list-style: none; /* tira os pontos de lista */
    display: flex; /*  deixa na horizontal */
}

.nav-list li {
    letter-spacing: 3px; /* espaço entre letras */
    margin-left: 32px; /* dando espaço entre palavras */
}

/* configurar linhas da lista do menu nav-bar */
/* menu hamburguer */

.mobile-menu {
    cursor: pointer;  /* ao aproximar mouse, vira mãozinha */
    display: none; /* aparecerá somente em telas pequenas */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white ;
    margin: 8px;

    transition: 0.3s; /* quando mobile-menu hamburguer estiver ativo */
}

/* configurando Nav-bar para telas acima de 999px, aparecera os itens ao lado. */
/* abaixo aparecerá somente o menu hamburger com 3 tracejados */

@media (max-width: 1000px) {

        /* body {
        overflow-x: hidden; */
        /* desaparecera a navegação do menu fora da tela, (transform: translateX(100%) */ 
        /*  }  */

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw; /* metade da tela */
        height: 92vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /* dando espaço entre itens */

        /* toda a navegação do menu sai para fora da tela */
        transform: translateX(100%);

        /* transição suave, ao abrir o menu hamburguer */
        transition: transform 0.3s ease-in;
    }

    /* configurar lista de menu */
    .nav-list li {
        margin-left: 0;
        opacity: 0; /* deixou invisivel para fazer animação */
    }

    /* configurar botao de menu */
    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0); /* mover toda a lista de fora / para dentro, ou seja, quando a tela atingir 999px, 
        nav.list ficará ativo voltará a posição zero, com menu hamburguer */
    }

    /* ================================================================== */
    /* javascript */
    /* ================================================================== */

    @keyframes navLinkFade {
        from { 
            opacity: 0;
            transform: translateX(50px); /* da esquerda para direita */
        } to { 
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* efeito para o menu hamburguer, usando javascript */
    /* this.mobileMenu.classList.toggle(this.activeClass); */

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }   

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

};